* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    padding: 15px;
    background-color: blueviolet;
    color: blue;
}
header nav li {
    display: inline;
    margin-left: 15px;
    font-size: 24px;
}

header nav li a {
    color: brown;
    text-decoration: none;
}

.containner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .containner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}